@* Generator: Template *@
@using System

<footer>
    <div>
        <hr />
        <table>
            <col width="50%" />
            <col width="50%" />
            <tbody>
                <tr>
                    <td align="left">
                        <h4>crispin</h4>
                    </td>
                    <td align="right">
                        <p><small>Generated @DateTime.Now.ToString("HH:mm:ss - dd/MM/yyyy")</small></p>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</footer>
