@* Generator: Template *@<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE report [
    <!ENTITY nbsp "&#160;">
    <!ENTITY ldquo "&#8220;">
    <!ENTITY lsquo "&#8216;">
    <!ENTITY rdquo "&#8221;">
    <!ENTITY rsquo "&#8217;">
    <!ENTITY quot "&#34;">
]>
@using crispin.ExampleReportLibrary
@{
    var header = new Header1 { Title = "Right Aligned Nested Table", Subtitle = "Illustrating https://github.com/swxben/swxben.reporting/issues/12" };
    var footer = new Footer1();
}
<report font-size="7pt">
	<title>Right Aligned Nested Table</title>
    <content>
        <pageSequence orientation="portrait">
            @header.TransformText()
            
            <htmlBlock>
                <table>
                    <col width="50%"/>
                    <col width="50%"/>
                    <tbody>
                        <tr>
                            <td>LEFT</td>
                            <td align="right">
                                RIGHT<br/>
                                <table type="DataGrid">
                                    <col width="10%"/>
                                    <col width="10%"/>
                                    <tbody><tr><td>NESTED</td><td>TABLE</td></tr></tbody>
                                </table>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </htmlBlock>

            @footer.TransformText()
        </pageSequence>
    </content>
</report>