@* Generator: Template *@<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE report [
    <!ENTITY nbsp "&#160;">
    <!ENTITY ldquo "&#8220;">
    <!ENTITY lsquo "&#8216;">
    <!ENTITY rdquo "&#8221;">
    <!ENTITY rsquo "&#8217;">
    <!ENTITY quot "&#34;">
]>
<report>
  <title>Table background test</title>
  <content>
    <pageSequence orientation="portrait">
        <htmlBlock>
            <table>
                <col width="50%" />
                <col width="50%" />
                <tbody>
                    <tr>
                      <td background-color="#F2385A">&nbsp;</td>
                      <td background-color="#F5A503">&nbsp;</td>
                    </tr>
                </tbody>
            </table>
            <br />
        </htmlBlock>
    </pageSequence>
  </content>
</report>

