@* Generator: Template *@
@functions{
    public string Title{get;set;}
    public string Subtitle{get;set;}
}

<htmlBlock>
    <table>
        <col width="28%" />
        <col width="2%" />
        <col width="14%" />
        <col width="2%" />
        <col width="46%" />
        <col width="2%" />
        <col width="6%" />
        <tbody>
            <tr>
              <td background-color="#F2385A">&nbsp;</td>
              <td>&nbsp;</td>
              <td background-color="#F5A503">&nbsp;</td>
              <td>&nbsp;</td>
              <td background-color="#E9F1DF" align="right" padding="0.4cm">
                <h2 space-before="0cm" space-after="0cm">@Title</h2>
                <h4 space-before="0cm" space-after="0cm">@Subtitle</h4>
                <p>&nbsp;</p>
              </td>
              <td>&nbsp;</td>
              <td background-color="#4AD9D9">&nbsp;</td>
            </tr>
            <tr padding="1.5cm"><td colspan="7">&nbsp;</td></tr>
        </tbody>
    </table>
    <br />
</htmlBlock>
