@* Generator: Template *@<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE report [
    <!ENTITY nbsp "&#160;">
    <!ENTITY ldquo "&#8220;">
    <!ENTITY lsquo "&#8216;">
    <!ENTITY rdquo "&#8221;">
    <!ENTITY rsquo "&#8217;">
    <!ENTITY quot "&#34;">
]>
<report>
    <title>Left padded table</title>
    <content>
        <pageSequence orientation="portrait">
        	<htmlBlock>
        		<h1>Left padded table</h1>
        		<p><small>See <a href="https://github.com/swxben/swxben.reporting/issues/3">https://github.com/swxben/swxben.reporting/issues/3</a></small><br /><br /><br /><br /></p>
        	</htmlBlock>
            <contentBlock padding-left="1.1cm">
                <table>
                    <col width="50%" />
                    <col width="50%" />
                    <thead>
                        <tr>
                            <th align="left">Name</th>
                            <th align="right">ID</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr><td>Ben</td>        <td align="right">123</td></tr>
                        <tr><td>Justine</td>    <td align="right">456</td></tr>
                        <tr><td>Ann</td>        <td align="right">445</td></tr>
                    </tbody>
                </table>
            </contentBlock>
        </pageSequence>
    </content>
</report>